html,
body,
img,
p {
    margin: 0;
    padding: 0;
    font-family: "Microsoft yahei";
    overflow: hidden;
}

#wrapper_back {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/bg.png");
    background-size: auto 100%;
    overflow: hidden;
}

.rain-food {
    position: absolute;
    width: auto;
    height: 50px;
}

#doge {
    z-index: 2;
    position: absolute;
    bottom: 6%;
    left: 0%;
    width: 65px;
    height: 50px;
    background-image: url("img/right.gif");
    background-size: auto 100%;
    background-repeat: none;
    transition: bottom 0.5s;
    -ms-transition: bottom 0.5s;
    -webkit-transition: bottom 0.5s;
    -moz-transition: bottom 0.5s;
    -o-transition: bottom 0.5s;
    transition-timing-function: cubic-bezier(3, 1.5, 0.5, 0.25);
    -ms-transition-timing-function: cubic-bezier(3, 1.5, 0.5, 0.25);
    -webkit-transition-timing-function: cubic-bezier(3, 1.5, 0.5, 0.25);
    -moz-transition-timing-function: cubic-bezier(3, 1.5, 0.5, 0.25);
    -o-transition-timing-function: cubic-bezier(3, 1.5, 0.5, 0.25);
}

.jump {
    bottom: 30%!important;
}

#dog {
    z-index: 1;
    position: absolute;
    overflow: hidden;
    bottom: 6%;
    width: 100%;
    height: 50px;
}

.running-dog {
    z-index: 1;
    position: absolute;
    bottom: 6%;
    width: auto;
    height: 50px;
}


/* game start button */

#layer {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /*display: none;*/
}
#layer #title{
    width: 150%;
    height: 140%;
    position: absolute;
    left: -30%;
    top: -50%;
    z-index: 5;
}

#dog_tag {
    margin: 0 auto;
    height: 80%;
    width: 80%;
    /*background-color: #00FF00;*/
    position: absolute;
    left: 10%;
    top: -80%;
}

#rule {
    text-align: center;
}

#rule #rule_text {
    width: 65%;
    position: absolute;
    top: 45%;
    left: 17%;
    font-size: 23px;
    color: black;
    z-index: 1;
}

#rule_img {
    position: absolute;
    left: -27%;
    top: -3%;
    width: 150%;
    height: 130%;
}

#layer_btn {
    width: 60%;
    height: 60px;
    margin: 20% auto 0;
    color: black;
    /*background-color: #8080FF;*/
    text-align: center;
    font-size: 30px;
}

#layer_btn_run {
    width: 70%;
    height: 120px;
    position: absolute;
    left: 15%;
    top: 80%;
    text-indent: -9999px;
    background-image: url("img/start.png");
    background-position: -60px 0;
    background-repeat: no-repeat;
    z-index: 9999;
}

#score {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #808080;
}

#price_box {
    display: none;
    color: #b99b85;
}

footer {
    display: none;
}

#test {
    width: 150px;
    height: 200px;
}

#restart {
    text-indent: -9999px;
    width: 60%;
    height: 15%;
    position: absolute;
    left: 20%;
    bottom: 5%;
    display: none;
    background: url("img/restart.png");
    background-repeat: no-repeat;
}

#share {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
    height: 16%;
}

#dog_pic {
    position: absolute;
    left: -17%;
    top: 3%;
    width: 130%;
    height: 110%;
}

#words {
    color: #b99b85;
    font-size: 30px;
    position: absolute;
    left: 22%;
    top: 31%;
    text-align: center;
}

#end_kind {
    position: absolute;
    left: 48%;
    top: 70%;
    font-size: 40px;
}
#kind_text{
    position: absolute;
    left: 20%;
    top: 69%;
    width: 100px;
    height: 52px;
}
#star img {
    width: 100%;
}
#dog_img{
    position: absolute;
    left: 21%;
    top: 39%;
    width: 57%;
    height: 29%;
}